@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  50% {
    opacity: 0.2;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --background-grey: #f5f5f5;
  --grey-text: #666666;
  --chips-grey: #f0f0f0;
  --chips-text: #333333;
}

body {
  background: var(--background-grey);
  font-family: rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
}
.main {
  margin-bottom: 1em;
  min-height: calc(100vh - 130px);
}
.container {
  padding-left: 0.87em;
  padding-right: 0.87em;
  max-width: 1100px;
  margin: 0 auto;
}

.nav {
  background: var(--white);
  padding: 1em 0;
  margin-bottom: 1em;
}
.nav__text {
  font-size: 0.87em;
}

.info-card {
  background: var(--white);
  margin-bottom: 0.75em;
  border-radius: 4px;
}

.info-card__heading {
  font-size: 1em;
  margin-bottom: 0.5em;
  color: #222;
  line-height: 1;
}
.info-card__heading--small {
  font-weight: 400;
  color: var(--grey-text);
}
.info-card__desc {
  color: var(--grey-text);
  margin-bottom: 0.63em;
  max-width: 95%;
}
.info-card__chip {
  /* background: var(--chips-grey); */
  padding: 0.2em 0.8em;
  display: inline-block;
  font-size: 0.87em;
  border-radius: 30px;
  border: 1px solid blue;
}
.info-card__link {
  display: block;
  padding: 1em;
  text-decoration: none;
}

.search-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--chips-grey);
  padding: 0 0.75em;
  margin: 0 0.75em 1em;
  max-width: 1100px;
  transition: background 0.2s ease-in;
}

.search-input {
  width: 100%;
  font-size: 1em;
  padding: 1em 0 1em 0.5em;
  height: 100%;
  border: 0;
  background: inherit;
}
.search-input:active,
.search-input:focus {
  outline: none;
}
.search-icon {
  stroke: var(--grey-text);
  transition: stroke 0.2s ease-in;
}
.search-container.focus {
  background: #fff;
  border-radius: 4px;
}
.search-container.focus .search-icon {
  stroke: blue;
}
input {
  font-family: inherit;
}
.spinner {
  min-height: calc(100vh - 200px);
  display: flex;
}
.spinner > * {
  margin: auto;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: slideUp 0.4s;
}
.info-card {
  flex: 1 1 350px;
  transition: transform 0.1s ease-in;
}
.info-card:hover {
  transform: scale(1.01);
}

@media (min-width: 760px) {
  .search-container {
    margin: 0 1em 1em;
  }
  .info-card {
    flex: 0 1 49%;
  }
}

@media (min-width: 1100px) {
  .container {
    padding: 0;
  }
  .search-container {
    margin: 0 auto 1em;
  }
  .info-card {
    flex-basis: 32.5%;
  }
}
